<section>
  <div class="page-header">
    <h1>
      تصاویر اسلایدر
      <a class="btn btn-primary pull-left" data-ui-sref="admin.slider.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="item in vm.slides" data-ui-sref="admin.slider.edit({id: item._id})" class="list-group-item">
      <small class="list-group-item-text">
        ایجاد شده در
        <span data-ng-bind="item.created | datefa:'jD jMMMM jYYYY'"></span>
        توسط
        <span ng-if="item.user" ng-bind="item.user.displayName"></span>
        <span ng-if="!item.user">کاربر حذف شده</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="item.title"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.slides.$resolved && !vm.slides.length">
    هیچ اسلایدی وجود ندارد. شما می توانید <a data-ui-sref="admin.slider.create">ایجاد کنید</a>
  </div>
</section>
