<section>
  <div class="row" style="margin-top: 20px">
    <div class="col-md-3">
      <img ng-src="{{vm.person.image.url()}}" class="img-circle img-responsive">
    </div>
    <div class="col-md-9">
      <div class="page-header">
        <h1 ng-bind="vm.person.fullName"></h1>
      </div>
      <p>{{vm.person.specialty}}</p>
      <p><span ng-repeat="item in vm.person.typeFa">{{item}}<span ng-if="!$last"> - </span></span></p>
      <div class="page-header" ng-if="vm.person.resume">
        <h4>سوابق</h4>
      </div>
      <p ng-bind-html="vm.trustHtml(vm.person.resume)"></p>
    </div>
  </div>
</section>
