<!-- Upload Pic Modal -->
<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()">&times;</button>
  <h4 class="modal-title">بارگزاری فایل</h4>
</div>
<form method="post" enctype="multipart/form-data">
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <strong>لطفا فایل را انتخاب کنید.</strong>
        <!--picfile-->
        <div class="form-group" ng-class="{'has-error':vm.errorMsg}">
          <button type="file" class="btn btn-default"  accept="*/*" ngf-max-size="3MB"
                  ngf-select="vm.uploadFile($file, $invalidFiles)">انتخاب</button>
          <span class="help-block" ng-if="vm.errorMsg">
            <i class="glyphicon glyphicon-warning-sign"></i>
                        {{vm.errorMsg}}
                        <span>{{vm.f.name}} {{vm.errFile.name}} {{vm.errFile.$error}} {{vm.errFile.$errorParam}}</span>
                    </span>
        </div>
        <div class="progress" ng-show="vm.f.progress >= 0">
          <div class="progress-bar" id="uploadProgress" role="progressbar" aria-valuenow="{{vm.f.progress}}"
               aria-valuemin="0" aria-valuemax="100" ng-style="{width:vm.f.progress+'%'}">{{vm.f.progress}}%
          </div>
        </div>
      </div>
      <div class="col-md-6" ng-show="vm.fileUploaded">
        <i class="glyphicon glyphicon-check"></i> فایل با موفقیت ذخیره شد. حالا دکمه ذخیره را کلیک کنید.
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="$dismiss()" >لغو</button>
      <button type="button" class="btn btn-primary" ng-click="vm.saveFile()">
        <i class="fa fa-floppy-o"></i>   ذخیره
      </button>
    </div>
  </div>
</form>
