<section>
  <div class="page-header">
    <h1>فایلها</h1>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <a class="btn btn-primary" ui-sref="uploadFile"><i class="glyphicon glyphicon-plus"></i> بارگذاری فایل جدید</a>
    </div>
  </div>
  <dir-pagination-controls></dir-pagination-controls>
  <div class="media" dir-paginate="file in vm.files |itemsPerPage: 10">
    <div class="media-left">
      <a href="{{file.url()}}" target="_blank" >
        <img class="media-object img-thumbnail img-responsive image-in-media-list" ng-src="{{file.url()}}" alt="" ng-if="file.isImage()">
        <i class="fa fa-5x fa-file-o" ng-if="!file.isImage()"></i>
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading" ng-if="file.title" ng-bind="file.title"></h4>
      آپلود شده در
      <span ng-bind="file.created | datefa:'jD jMMMM jYY'"></span>
      توسط
      <span ng-if="file.user" ng-bind="file.user.displayName"></span>
      <span ng-if="!file.user">کاربر حذف شده</span>
      <br/>
      برای استفاده از این فایل این لینک را استفاده کنید: <a href="{{file.url()}}" target="_blank">{{file.url()}}</a>
      <br/>
      حجم: {{file.size/1000 | currency:'':0}} کیلوبایت -
      <button class="btn btn-link" ng-click="vm.remove(file)"><i class="glyphicon glyphicon-trash"></i>حذف</button>
    </div>
  </div>
  <dir-pagination-controls></dir-pagination-controls>
</section>
