<section>
  <div class="page-header">
    <h1>File Upload</h1>
    <a ui-sref="files.list" class="btn btn-link">back to list</a>
  </div>
  <!-- Upload Pic Modal -->
  <form method="post" enctype="multipart/form-data">
    <div class="row">
      <div class="col-md-6">
        <p>Please choose the file to be uploaded:</p>
        <!--picfile-->
        <div class="form-group">
          <button type="file" class="btn btn-default" accept="image/*" ngf-max-height="2000" ngf-max-size="2MB"
                  ngf-select="vm.uploadFile($file, $invalidFiles)">Select File
          </button>
          <span class="help-block">
                        {{errorMsg}}
                        <span>{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}</span>
                    </span>
        </div>
        <div class="progress" ng-show="vm.f.progress >= 0">
          <div class="progress-bar" id="uploadProgress" role="progressbar" aria-valuenow="{{vm.f.progress}}"
               aria-valuemin="0" aria-valuemax="100" ng-style="{width:vm.f.progress+'%'}">{{vm.f.progress}}%
          </div>
        </div>
        <div ng-show="vm.fileUploaded">
          <p>Now click save to save the file</p>
          <div class="form-group">
            <label class="control-label">File title <small>(you can provide a title for the file. it's not the filename!)</small></label>
            <input type="text" class="form-control" ng-model="vm.newFile.title">
          </div>
          <button type="button" class="btn btn-default" ng-click="vm.dismiss()">cancel</button>
          <button type="button" class="btn btn-primary" ng-click="vm.saveFile()">
            <i class="fa fa-floppy-o"></i>save
          </button>
        </div>
      </div>
      <div class="col-md-6" ng-show="vm.fileUploaded">
        <div id="image-container">
          <img ng-src={{vm.newFile.url()}} class="img-responsive">
        </div>
      </div>
    </div>
  </form>
</section>
