<section>
  <div class="page-header">
    <h1>آپلود فایل</h1>
    <a ui-sref="files.list" class="btn btn-link">بازگشت به لیست</a>
  </div>
  <!-- Upload Pic Modal -->
  <form method="post" enctype="multipart/form-data">
    <div class="row">
      <div class="col-md-6">
        <p>ابتدا نوع فایل را مشخص کنید:</p>
        <input type="radio" ng-model="vm.type" ng-value="'img'" id="image-radio">
        <label for="image-radio"> تصویر <small>(jpg, png, gif, ...)</small></label>
        <input type="radio" ng-model="vm.type" ng-value="'doc'" id="doc-radio" style="margin-left: 15px">
        <label for="doc-radio"> سند <small>(pdf, doc, docx, ...)</small></label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6" ng-show="vm.type">
        <p>فایل مورد نظر را انتخاب کنید:</p>
        <!--picfile-->
        <div class="form-group">
          <button type="file" class="btn btn-default" accept="image/*" ngf-max-height="2000" ngf-max-size="2MB"
                  ngf-select="vm.uploadFile($file, $invalidFiles)" ng-if="vm.type === 'img'">انتخاب تصویر
          </button>
          <button type="file" class="btn btn-default" accept="*/*" ngf-max-size="3MB"
                  ngf-select="vm.uploadFile($file, $invalidFiles)" ng-if="vm.type === 'doc'">انتخاب فایل
          </button>
          <span class="help-block" ng-if="vm.errorMsg">
                        {{vm.errorMsg}}
                        <span>{{vm.f.name}} {{vm.errFile.name}} {{vm.errFile.$error}} {{vm.errFile.$errorParam}}</span>
                    </span>
        </div>
        <div class="progress" ng-show="vm.f.progress >= 0">
          <div class="progress-bar" id="uploadProgress" role="progressbar" aria-valuenow="{{vm.f.progress}}"
               aria-valuemin="0" aria-valuemax="100" ng-style="{width:vm.f.progress+'%'}">{{vm.f.progress}}%
          </div>
        </div>
        <div ng-show="vm.fileUploaded">
          <p>حال گزینه ذخیره را انتخاب کنید تا فایل ثبت شود</p>
          <div class="form-group">
            <label class="control-label">عنوان فایل <small>(شما می توانید یک عنوان متناسب برای فایل انتخاب می کنید! این عنوان نام فایل نخواهد بود.)</small></label>
            <input type="text" class="form-control" ng-model="vm.newFile.title">
          </div>
          <button type="button" class="btn btn-default" ng-click="vm.dismiss()">لغو</button>
          <button type="button" class="btn btn-primary" ng-click="vm.saveFile()">
            <i class="fa fa-floppy-o"></i>ذخیره
          </button>
        </div>
      </div>
      <div class="col-md-6" ng-show="vm.fileUploaded">
        <div id="image-container" ng-if="vm.type === 'img'">
          <img ng-src={{vm.newFile.url()}} class="img-responsive">
        </div>
        <p ng-if="vm.type === 'doc'">فایل بارگزاری شده: {{vm.newFile.filename}}
        </p>
      </div>
    </div>
  </form>
</section>
