<section class="row">
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">
    <form name="vm.userForm" ng-submit="vm.updateUserProfile(vm.userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="firstName">نام</label>
          <input type="text" id="firstName" name="firstName" class="form-control" ng-model="vm.user.firstName" placeholder="نام" required autofocus>
          <div ng-messages="vm.userForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">نام اجباری است.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="lastName">نام خانوادگی</label>
          <input type="text" id="lastName" name="lastName" class="form-control" ng-model="vm.user.lastName" placeholder="نام خانوادگی" required>
          <div ng-messages="vm.userForm.lastName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">نام خانوادگی اجباری است.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="email">ایمیل</label>
          <input type="email" id="email" name="email" class="form-control" ng-model="vm.user.email" placeholder="ایمیل" lowercase required>
          <div ng-messages="vm.userForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">ایمیل اجباری است.</p>
            <p class="help-block error-text" ng-message="email">ایمیل وارد شده معتبر نیست</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="username">نام کاربری</label>
          <input type="text" id="username" name="username" class="form-control" ng-model="vm.user.username" placeholder="نام کاربری" lowercase required>
          <div ng-messages="vm.userForm.username.$error" role="alert">
            <p class="help-block error-text" ng-message="required">نام کاربری اجباری است.</p>
          </div>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">ذخیره</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
