<section>
  <div class="page-header">
    <h1>لیست اخبار</h1>
  </div>
  <dir-pagination-controls></dir-pagination-controls>
  <div class="row">
    <div class="col-md-6" dir-paginate="item in vm.news |itemsPerPage: 10" ng-class="{'pull-right':$even,'pull-left':$odd}">
      <div class="thumbnail">
        <a ui-sref="news.view({ id: item._id })">
          <img class="img-responsive img-hover" ng-src="{{item.image.url()}}" alt="">
        </a>
        <h3>
          <a ui-sref="news.view({ id: item._id })" ng-bind="item.title"></a>
          <small class="list-group-item-text">
            ارسال شده در
            <span ng-bind="item.created | datefa:'jD jMMMM jYY'"></span>
            توسط
            <span ng-if="item.user" ng-bind="item.user.displayName"></span>
            <span ng-if="!item.user">Deleted User</span>
          </small>
        </h3>
        <p ng-bind="item.summary"></p>
      </div>
    </div>
  </div>
    <dir-pagination-controls></dir-pagination-controls>
</section>
