<section>
  <div style="height: 305px">
    <div uib-carousel active="vm.active" interval="vm.interval" no-wrap="vm.noWrapSlides">
      <div uib-slide ng-repeat="slide in vm.slides" index="$index">
        <a ng-href="{{slide.link}}">
          <img ng-src="{{slide.image.url()}}" style="margin:auto;">
          <div class="carousel-caption">
            <h4>{{slide.title}}</h4>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<h1>کلینیک آگاه</h1>
<div class="panel panel-default">
  <div class="panel-body">
    اینجا آقای حسن اسدی قرار است که یک متن به ما بدهد و ما آنرا بگذاریم اینجا!
    لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک
    گفته می‌شود.
    طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته
    شده استفاده می نماید،
    تا از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد.
    معمولا طراحان گرافیک برای صفحه‌آرایی، نخست از متن‌های آزمایشی و بی‌معنی استفاده می‌کنند
    تا صرفا به مشتری یا صاحب کار خود نشان دهند که صفحه طراحی یا صفحه بندی شده بعد از اینکه متن در آن قرار گیرد چگونه به
    نظر می‌رسد
    و قلم‌ها و اندازه‌بندی‌ها چگونه در نظر گرفته شده‌است. از آنجایی که طراحان عموما نویسنده متن نیستند و وظیفه رعایت حق
    تکثیر متون را ندارند
    و در همان حال کار آنها به نوعی وابسته به متن می‌باشد آنها با استفاده از محتویات ساختگی، صفحه گرافیکی خود را
    صفحه‌آرایی می‌کنند
    تا مرحله طراحی و صفحه‌بندی را به پایان برند.
  </div>
</div>

<div class="page-header">
  <h3>درمانگرها</h3>
</div>
<div class="row">
  <div ng-repeat="person in vm.people">
    <div class="clearfix" ng-if="$index % 4 == 0"></div>
    <div class="col-md-3 col-sm-6">
      <div class="panel panel-default text-center">
        <a ui-sref="agPerson.view({ id: person._id })">
          <div class="panel-heading">
            <img class="img-responsive img-circle center-block" ng-src="{{person.image.url()}}">
          </div>
        </a>
        <div class="panel-body">
          <h4 ng-bind="person.fullName"></h4>
          <p ng-bind="person.specialty"></p>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  /*! for coloring svg icons */
  path {
    fill: #f5f5f5;
  }
</style>

<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">خدمات کلینیک</h2>
  </div>
  <div class="col-md-3 col-sm-4">
    <div class="panel panel-primary text-center">
      <div class="panel-heading">
        <div ng-include="'modules/pages/client/img/main/2.svg'"></div>
      </div>
      <a href="#" class="no-color">
        <div class="panel-body">
          <h4>درمانی</h4>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3 col-sm-4">
    <div class="panel panel-primary text-center">
      <div class="panel-heading">
        <div ng-include="'modules/pages/client/img/main/3.svg'"></div>
      </div>
      <a href="#" class="no-color">
        <div class="panel-body">
          <h4>آموزشی</h4>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3 col-sm-4">
    <div class="panel panel-primary text-center">
      <div class="panel-heading">
        <div ng-include="'modules/pages/client/img/main/4.svg'"></div>
      </div>
      <a href="#" class="no-color">
        <div class="panel-body">
          <h4>پژوهشی</h4>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3 col-sm-4">
    <div class="panel panel-primary text-center">
      <div class="panel-heading">
        <div ng-include="'modules/pages/client/img/main/1.svg'"></div>
      </div>
      <a href="#" class="no-color">
        <div class="panel-body">
          <h4>صنعتی - سازمانی</h4>
        </div>
      </a>
    </div>
  </div>
</div>
<!-- /.row -->


