<section>
  <div style="height: 305px">
    <div uib-carousel active="vm.active" interval="vm.interval" no-wrap="vm.noWrapSlides">
      <div uib-slide ng-repeat="slide in vm.slides" index="$index">
        <a ng-href="{{slide.link}}">
          <img ng-src="{{slide.image.url()}}" style="margin:auto;">
          <div class="carousel-caption">
            <h4>{{slide.title}}</h4>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<div class="container">

  <!-- Marketing Icons Section -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        به نرم افزار rastemoh CMS خوش آمدید!
      </h1>
    </div>
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4><i class="fa fa-fw fa-check"></i>صفحات اختصاصی</h4>
        </div>
        <div class="panel-body">
          <p>به سادگی صفحات اختصاصی مد نظر تان را بسازید و به آنها لینک بدهید!</p>
          <!--<a href="#" class="btn btn-default">Learn More</a>-->
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4><i class="fa fa-fw fa-gift"></i>پشتیبانی مناسب</h4>
        </div>
        <div class="panel-body">
          <p>هر وقت که مشکلی پیش آمد با محمد رستگار تماس بگیرید و ظرف مدت حداکثر ۲۴ ساعت مشکل شما مورد بررسی قرار خواهد گرفت</p>
          <!--<a href="#" class="btn btn-default">Learn More</a>-->
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4><i class="fa fa-fw fa-compass"></i>بارگذاری تصاویر شما</h4>
        </div>
        <div class="panel-body">
          <p>شما می توانید فایل های خود را روی سرور خود بارگذاری کنید.</p>
          <!--<a href="#" class="btn btn-default"></a>-->
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <!-- Portfolio Section -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">تصاویر پروژه ها</h2>
    </div>
    <div class="col-md-4 col-sm-6">
      <a href="portfolio-item.html">
        <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
      </a>
    </div>
    <div class="col-md-4 col-sm-6">
      <a href="portfolio-item.html">
        <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
      </a>
    </div>
    <div class="col-md-4 col-sm-6">
      <a href="portfolio-item.html">
        <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
      </a>
    </div>
    <div class="col-md-4 col-sm-6">
      <a href="portfolio-item.html">
        <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
      </a>
    </div>
    <div class="col-md-4 col-sm-6">
      <a href="portfolio-item.html">
        <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
      </a>
    </div>
    <div class="col-md-4 col-sm-6">
      <a href="portfolio-item.html">
        <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
      </a>
    </div>
  </div>
  <!-- /.row -->

  <!-- Features Section -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">امکانات اختصاصی</h2>
    </div>
    <div class="col-md-6">
      <p>سیستم مدیریت محتوای رستگار این امکانات را در اختیار شما قرار می دهید:</p>
      <ul>
        <li><strong>صفحات پاسخگو متناسب با دستگاه مورد استفاده کاربر</strong>
        </li>
        <li>بارگذاری فایلهای شما</li>
        <li>استفاده از فونت زیبای ایران سنس</li>
        <li>ساخت صفحات اختصاصی به دست خود شما</li>
        <li>امکان تغییرات و پشتیبانی توسط تیم مجرب</li>
      </ul>
      <p>خیالتان از بابت سایت راحت باشد. تنها کافی است هم اکنون تماس بگیرید و سایت خود را درخواست کنید.</p>
    </div>
    <div class="col-md-6">
      <img class="img-responsive" src="http://placehold.it/700x450" alt="">
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Call to Action Section -->
  <div class="well">
    <div class="row">
      <div class="col-md-8">
        <p>ماهی را هر وقت از آب بگیرید تازه است! هم اکنون سفارش دهید.</p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-default btn-block" href="#">سفارش سایت</a>
      </div>
    </div>
  </div>

</div>
