<section>
  <div style="height: 305px">
    <div uib-carousel active="vm.active" interval="vm.interval" no-wrap="vm.noWrapSlides">
      <div uib-slide ng-repeat="slide in vm.slides" index="$index">
        <a ng-href="{{slide.link}}">
          <img ng-src="{{slide.image.url()}}" style="margin:auto;">
          <div class="carousel-caption">
            <h4>{{slide.title}}</h4>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<h1>کلینیک آگاه</h1>
<div class="panel panel-default">
  <div class="panel-body">
    <p>
    مرکز روان شناختی آگاه متشکل از تعدادي از نيروهاي متخصص در حوزه‌هاي مختلف روانشناسي (باليني، سلامت، تربيتي، کودکان و نوجوانان، صنعتي و سازماني و خدمات روان پزشکی) است که در سه حيطه کلي آموزش (با رويکردي پيشگيرانه)، درمان و پژوهش فعاليت مي‌کند:مرکز روان شناختی آگاه متشکل از تعدادي از نيروهاي متخصص در حوزه‌هاي مختلف روانشناسي (باليني، سلامت، تربيتي، کودکان و نوجوانان، صنعتي و سازماني و خدمات روان پزشکی) است که در سه حيطه کلي آموزش (با رويکردي پيشگيرانه)، درمان و پژوهش فعاليت مي‌کند:
    </p>
    <p>
      <strong>الف) آموزش: </strong>
      <br>
      مرکز خدمات روانشناختي آگاه در دو سطح تخصصي و عمومي اقدام به آموزش داوطلبان و علاقمندان مي‌نمايد. در سطح تخصصي، اصول مصاحبه و روان‌درماني، درمان‌گري پويشي فشرده و کوتاه‌مدت، ارزيابي عميق شخصيتي شدلر و وستن، آسيب‌شناسي رواني و نرم‌افزارهاي تحليل آماري SPSS، ليزرل و آموس، در قالب کارگاه‌هاي آموزشي کوتاه‌مدت و بلندمدت به علاقمندان آموزش داده مي‌شود.
      <br>
      در سطح عمومي، آموزش سرفصل‌هاي دهگانه مهارت‌هاي زندگي از جمله مهارت‌هاي خودآگاهي، مهارت ارتباط موثر، مهارت مديريت استرس، مهارت مديريت خشم و هيجان‌هاي منفي مورد توجه است. علاوه بر اين سرفصل‌ها، آموزش سه مهارت اساسي ديگر نيز مورد توجه مرکز قرار دارد: مهارت‌هاي پيش از ازدواج، مهارت‌هاي زندگي زناشويي و مهارت‌هاي فرزندپروري. همچنین کارگاه های بهبود روابط والدین و کودک و شناخت هیجانات و بهشیاری ( mindfulness) برگزار می شود.
    </p>
    <p>
      <strong>ب) درمان:</strong>
      <br>
      در خصوص درمان، مرکز خدمات روان شناختي آگاه در دو حوزه تخصصي درمان انفرادي و گروهي و ارزیابی روان شناختی فعاليت دارد. متخصصين اين مرکز در شاخه‌هاي مختلفي از جمله درمان اختلالات شخصيت، اضطراب و افسردگي، مشکلات زناشويي و مسايل مربوط به کودکان و نوجوانان فعاليت مي‌کنند.
    </p>
    <p>
      <strong>ج) پژوهش:</strong>
      <br>
      در حوزه پژوهش متخصصان اين مرکز آمادگي اجراي اولويت‌هاي پژوهشي سازمان‌ها، مراکز و شرکت‌هاي مختلف در زمينه‌هاي علوم رفتاري را دارند. اين پروژه‌ها در دو سطح کمي و کيفي قابل اجرا هستند. بر عهده گرفتن بخش روانشناختي و ارزیابی شخصیت فرايندهاي جذب و استخدام و ارتقاء در سازمان‌ها بخشي از فعاليت‌هاي پژوهشي مرکز خدمات روانشناختي آگاه مي‌باشد.
    </p>
  </div>
</div>

<div class="page-header">
  <h3>درمانگرها</h3>
</div>
<div class="row">
  <div ng-repeat="person in vm.people">
    <div class="clearfix" ng-if="$index % 4 == 0"></div>
    <div class="col-md-3 col-sm-6">
      <div class="panel panel-default text-center">
        <a ui-sref="agPerson.view({ id: person._id })">
          <div class="panel-heading">
            <img class="img-responsive img-circle center-block" ng-src="{{person.image.url()}}">
          </div>
        </a>
        <div class="panel-body">
          <h4 ng-bind="person.fullName"></h4>
          <p ng-bind="person.specialty"></p>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  /*! for coloring svg icons */
  path {
    fill: #f5f5f5;
  }
</style>

<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">خدمات کلینیک</h2>
  </div>
  <div class="col-md-3 col-sm-4">
    <div class="panel panel-primary text-center">
      <div class="panel-heading">
        <div ng-include="'modules/pages/client/img/main/2.svg'"></div>
      </div>
      <a href="#" class="no-color">
        <div class="panel-body">
          <h4>درمانی</h4>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3 col-sm-4">
    <div class="panel panel-primary text-center">
      <div class="panel-heading">
        <div ng-include="'modules/pages/client/img/main/3.svg'"></div>
      </div>
      <a href="#" class="no-color">
        <div class="panel-body">
          <h4>آموزشی</h4>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3 col-sm-4">
    <div class="panel panel-primary text-center">
      <div class="panel-heading">
        <div ng-include="'modules/pages/client/img/main/4.svg'"></div>
      </div>
      <a href="#" class="no-color">
        <div class="panel-body">
          <h4>پژوهشی</h4>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3 col-sm-4">
    <div class="panel panel-primary text-center">
      <div class="panel-heading">
        <div ng-include="'modules/pages/client/img/main/1.svg'"></div>
      </div>
      <a href="#" class="no-color">
        <div class="panel-body">
          <h4>صنعتی - سازمانی</h4>
        </div>
      </a>
    </div>
  </div>
</div>
<!-- /.row -->


