<div>
  <h3 class="col-xs-12 text-center">یا با ایمیل خود ثبت نام کنید</h3>
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
    <form name="vm.userForm" ng-submit="vm.signup(vm.userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="firstName">نام</label>
          <input type="text" id="firstName" name="firstName" class="form-control" ng-model="vm.credentials.firstName" placeholder="نام" required autofocus>
          <div ng-messages="vm.userForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">نام اجباری است.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="lastName">نام خانوادگی</label>
          <input type="text" id="lastName" name="lastName" class="form-control" ng-model="vm.credentials.lastName" placeholder="نام خانوادگی" required>
          <div ng-messages="vm.userForm.lastName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">نام خانوادگی اجباری است.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="email">ایمیل</label>
          <input type="email" id="email" name="email" class="form-control" ng-model="vm.credentials.email" placeholder="ایمیل" lowercase required>
          <div ng-messages="vm.userForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">ایمیل اجباری است.</p>
            <p class="help-block error-text" ng-message="email">ایمیل وارد شده معتبر نیست.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="username">نام کابری</label>
          <input type="text" id="username" name="username" class="form-control" ng-model="vm.credentials.username" ng-pattern="vm.usernameRegex" placeholder="نام کاربری" lowercase required>
          <div ng-messages="vm.userForm.username.$error" role="alert">
            <p class="help-block error-text" ng-message="required">نام کاربری اجباری است.</p>
            <p class="help-block error-text" ng-message="pattern">لطفا نام کاربری که وارد می کنید: بیش از سه حرف و بدون حروف ممنوعه مانند نقطه های متوالی باشد.</p>
            <p class="help-block error-text" ng-message="pattern">Please enter a valid username: 3+ characters long, non restricted word, characters "_-.", no consecutive dots, does not begin or end with dots, letters a-z and numbers 0-9.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="password">رمز عبور</label>
            <input type="password" id="password" name="password" class="form-control" ng-model="vm.credentials.password" placeholder="رمز عبور" uib-popover="{{vm.getPopoverMsg()}}" popover-trigger="outsideClick" required>
          <div ng-messages="vm.userForm.password.$error" role="alert">
            <p class="help-block error-text" ng-message="required">رمز عبور اجباری است.</p>
            <div ng-repeat="passwordError in passwordErrors">
              <p class="help-block error-text" ng-show="vm.userForm.password.$error.requirements">{{passwordError}}</p>
            </div>
          </div>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">ثبت نام</button>
          &nbsp; یا&nbsp;
          <a ui-sref="authentication.signin" class="show-signup">ورود</a>
        </div>
      </fieldset>
    </form>
  </div>
</div>
